@import url(./global.css);
@import url(./containers.css);
@import url(./footer.css);

  .fullscreen-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/nuvens.jpeg'); /* Caminho da imagem de fundo */
    background-size: cover;
    background-position: center;
    z-index: 0; /* Fica atrás do texto */
  }
  
  /* Texto que revela a imagem de fundo */
  .text-reveal {
    font-size: 7rem;
    font-weight: bold;
    font-weight: 650;
    font-family: 'Montserrat', sans-serif;
    color: transparent; /* Deixa o texto invisível */
    background-image: url('../img/nuvens.jpeg'); /* A mesma imagem de fundo */
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text; /* Clipa o fundo ao texto */
    background-clip: text;
    z-index: 1; /* O texto fica sobreposto */
    position: relative;

  }
  
.paragrafo{
    display: flex;
    text-align: center;
    gap:20px;
    font-size:10px;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
   
    /* background-color: rgb(235, 242, 250); */
    background-color: rgb(235, 242, 250);
    height: 40%;
    margin: 21px;
    border: 1px solid #ccc; /* Borda para visualização */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cards1{
    display: flex;
    flex-direction: row;

    height: 40%;
    margin: 21px;
    border: 1px solid #ccc; /* Borda para visualização */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.titulo{
    font-size: 100px;
    color: white;
}

.titulo2{
    margin-left: 13px;
    font-size: 1.2rem;
}
  
.projects-section {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: rgb(6, 71, 137);
  font-family: Montserrat, serif;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card a {
  text-decoration: none;
  color: inherit;
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #0056b3;
  font-family: Montserrat, serif;
}

.card-content p {
  font-size: 1rem;
  color: #666;
  font-family: Lato, serif;
}